section.ftco-section {
    padding: 2em 0; 
  }

  .nama-user {
    padding: 0;
    font-size: x-large;
    color: black;
  }

  .email-user {
    display: block;
    font-size: medium;
    color: #333;
  }

  .email-user > i {
    margin-right: 0.25em;
  }